@import url("src/common.css");

html, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.fillDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

h1 {
  text-align: center;
  line-height: 1;
  padding-block: 2svh;
  font-size: clamp(2em, 3.5vw + 1em, 4em);
}

.buttonText {
  font-size: clamp(2em, 10vw + 1em, 10em);
  color: var(--clr-accent);
  padding-top: 3%; /* optical center */
  /* color: var(--clr-background); */
}

.button {
  /* box-shadow: 5px 5px 0px 0px var(--clr-main); */
  /* border: clamp(0.1em, 0.5vb + 0.5vi, 1em) solid black; */
  /* border: var(--border-weight); */
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 7/10;
  min-width: clamp(5rem, 30vw, 35vh);
}

.innercontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: calc(1vb + 1vi);
}

html {
    visibility: visible;
    opacity: 1;
}
