@import url("src/common.css");

html, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  line-height: 1;
  padding-block: 2vh;
  font-size: clamp(2em, 5vw + 0.5em, 4em);
}

.buttonText {
  font-size: clamp(2em, 10vw + 2em, 8em);
  padding-top: 3%; /* optical center */
}

.button {
  border: clamp(0.1em, 0.5vb + 0.5vi, 1em) solid black;
  border: var(--border-weight);
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 7/10;
  min-width: clamp(5rem, 30vw, 35vh);
}

.innercontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: calc(1vb + 1vi);
}

html {
    visibility: visible;
    opacity: 1;
}
