@import url("../common.css");
@import url("../single.css");

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile layout */
@media (orientation: portrait) {
  .p5Canvas {
    transform: rotate(-90deg)
  }
}

.p5Canvas {
  max-width: min(100vh, 100vw) !important;
  max-height: min(100vh, 100vw) !important;
  aspect-ratio: 1/1 !important;
  flex-shrink: 0;
  flex-grow: 0;
}
