@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

.dm-sans-400,
.buttonText,
:root {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  /* outline: 2px solid green; */
}

:root {
  --clr-main: #040716;
  --clr-background: #fcf7f2;
  --clr-accent: #ff002a;
  --border-weight: var(--clr-main) solid 0.2em;
  --heading-size: clamp(2em, 5vw + 1em, 5em);

  background: var(--clr-background);
  color: var(--clr-main);
  line-height: 1.5;
}

body {
  min-height: 100svh;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) and (min-height: 1200px) {
  .container {
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
  }
}

.canvas-wrapper {
  padding-top: 2svh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.p5Canvas {
  /* border: var(--border-weight); */
  max-height: 90svh;
  flex-shrink: 1;
  /* max-height: min(140vw, calc(100svh - 0rem)) !important; */
  /* min-height: calc(50svh + 50svw) !important; */
  width: auto !important;
  aspect-ratio: attr(width) / attr(height);
}

p {
  font-size: 1.5rem;
  max-width: 60ch;
  margin: 0 auto;
  /* padding: 0 10vw; */
  padding-right: 2svw;
  padding-left: 4svw;
}

@media (max-width: 61vb) {
  body, html {
    overflow-x: hidden;
  }
  p {
  padding-left: 8svw;
  }
  .canvas-wrapper {
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  }
  .container {
    padding-top: 0rem;
  }
  .p5Canvas {
    border: 0rem solid var(--clr-main);
  }
}

h1 {
  text-align: center;
  margin: 0.5rem 0;
  font-size: var(--heading-size);
}

html {
  visibility: visible;
  opacity: 1;
}
