.body-font,
.buttonText,
:root {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-font,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 2px solid green;
}

:root {
  overflow-x: hidden;
  /* --clr-main: #040716; */
  /* --clr-background: #fcf7f2; */
  /* --clr-accent: #ff002a; */

  --clr-main: #000000;
  --clr-background: #ffffff;
  --clr-accent: #ff002a;

  --border-weight: var(--clr-main) solid 0.2em;
  /* --heading-size: clamp(2em, 5vw + 1em, 5em); */
  --heading-size: 3.4em;
  --body-size: 1.5em;

  background: var(--clr-background);
  color: var(--clr-main);
  font-size: var(--body-size);
  line-height: 1.5;
}

body {
  min-height: 100svh;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) and (min-height: 1200px) {
  .container {
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
  }
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.p5Canvas {
  /* border: var(--border-weight); */
  max-height: 100svh;
  flex-shrink: 1;
  /* max-height: min(140vw, calc(100svh - 0rem)) !important; */
  /* min-height: calc(50svh + 50svw) !important; */
  width: 100svw !important;
  height: 100svh !important;
  /* aspect-ratio: attr(width) / attr(height); */
}

@media (max-width: 61vb) {
  p {
    padding-left: 4svw;
  }
  .canvas-wrapper {
    justify-content: top;
    align-content: top;
    align-items: top;
    justify-items: top;
  }
  .container {
    padding-top: 0rem;
  }
  .p5Canvas {
    border: 0rem solid var(--clr-main);
  }
}

p {
  max-width: 60ch;
  text-align: justify;
  margin: 0 auto;
  padding-right: 5svw;
  padding-left: 5svw;
}

h1 {
  text-align: center;
  line-height: 1;
  margin: 0.5rem 0;
  font-size: var(--heading-size);
}

html {
  visibility: visible;
  opacity: 1;
}
